* {
	margin: 0px;
	padding: 0px;
}
.caja {
	width: 200px;
	height: 200px;
	position: relative;
	top: 100px;
	bottom: ;
	right: ;
	left: 250px;
}
.first {
	background-color: #ee3e64;
}
.second {
	background-color: #44accf;
}
.third {
	background-color: #b7d84b;
}