* {
	margin: 0px;
	padding: 0px;
}
.caja {
	width: 200px;
	height: 200px;
	position: absolute;
}
.first {
	background-color: #ee3e64;
	top: 0;
	bottom: ;
	right: ;
	left: 0;

}
.second {
	background-color: #44accf;
	top: 0;
	bottom: ;
	right: 0;
	left: ;
}
.third {
	background-color: #b7d84b;
	top: ;
	bottom: 0;
	right: ;
	left: 0;
}
.fourth {
	background-color: #FFFF00;
	top: ;
	bottom: 0;
	right: 0;
	left: ;
}